./private/libCHARSET3-samba4.so
./private/libaddns-samba4.so
./private/libads-samba4.so
./private/libasn1-samba4.so.8
./private/libasn1util-samba4.so
./private/libauth-sam-reply-samba4.so
./private/libauth-samba4.so
./private/libauthkrb5-samba4.so
./private/libccan-samba4.so
./private/libcli-cldap-samba4.so
./private/libcli-ldap-common-samba4.so
./private/libcli-nbt-samba4.so
./private/libcli-smb-common-samba4.so
./private/libcli-spoolss-samba4.so
./private/libcliauth-samba4.so
./private/libcom_err-samba4.so.0
./private/libdbwrap-samba4.so
./libdcerpc-binding.so.0
./private/libdcerpc-samba-samba4.so
./private/liberrors-samba4.so
./private/libevents-samba4.so
./private/libflag-mapping-samba4.so
./libgensec.so.0
./private/libgse-samba4.so
./private/libgssapi-samba4.so.2
./private/libhcrypto-samba4.so.5
./private/libheimbase-samba4.so.1
./private/libhx509-samba4.so.5
./private/libinterfaces-samba4.so
./private/libkrb5-samba4.so.26
./private/libkrb5samba-samba4.so
./private/libldb.so.1
./private/libldbsamba-samba4.so
./private/liblibcli-lsa3-samba4.so
./private/liblibcli-netlogon3-samba4.so
./private/liblibsmb-samba4.so
./private/libmsrpc3-samba4.so
./libndr-krb5pac.so.0
./libndr-nbt.so.0
./private/libndr-samba-samba4.so
./private/libndr-samba4.so
./libndr-standard.so.0
./libndr.so.0
./private/libnet-keytab-samba4.so
./libnetapi.so.0
./private/libnpa-tstream-samba4.so
./private/libntdb.so.1
./private/libpopt-samba3-samba4.so
./private/libpopt-samba4.so
./private/libprinting-migrate-samba4.so
./private/libreplace-samba4.so
./private/libroken-samba4.so.19
./private/libsamba-cluster-support-samba4.so
./libsamba-credentials.so.0
./private/libsamba-debug-samba4.so
./libsamba-hostconfig.so.0
./private/libsamba-modules-samba4.so
./libsamba-passdb.so.0
./private/libsamba-security-samba4.so
./private/libsamba-sockets-samba4.so
./libsamba-util.so.0
./private/libsamba3-util-samba4.so
./private/libsamdb-common-samba4.so
./libsamdb.so.0
./private/libsecrets3-samba4.so
./private/libserver-role-samba4.so
./private/libsmb-transport-samba4.so
./libsmbconf.so.0
./private/libsmbd-base-samba4.so
./private/libsmbd-conn-samba4.so
./private/libsmbd-shim-samba4.so
./private/libsmbregistry-samba4.so
./private/libsocket-blocking-samba4.so
./private/libtalloc.so.2
./private/libtdb-compat-samba4.so
./private/libtdb-wrap-samba4.so
./private/libtdb.so.1
./libtevent-util.so.0
./private/libtevent.so.0
./private/libutil-cmdline-samba4.so
./private/libutil-ntdb-samba4.so
./private/libutil-reg-samba4.so
./private/libutil-setid-samba4.so
./private/libutil-tdb-samba4.so
./libwbclient.so.0
./private/libwinbind-client-samba4.so
./private/libwind-samba4.so.0
